
#register{
    margin-top: 5%;
    display: grid;
    grid-template-columns: auto auto;
    /* border: solid 1px black; */
    padding: 0 10%;

}
#register button{
    margin-left: 25%;
}
.border{
    border-bottom: solid 1px #636363;
    margin: 0 10%;
    width: 80%;
}

footer{
    display: grid;
    grid-template-columns: 45% auto;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 25vh;
    width: 80%;
    margin-left: 5%;
    /* border: solid 1px black; */
}

.social-links img{
    width: 20px;
    height: 20px;
}

.footer-left{
    padding-left: 15%;
    height: 100%;
    /* border: solid 1px black; */
}
.footer-right{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    /* margin-right: 20%; */
    /* column-gap: 15%; */
    /* text-align: center; */
    padding-left: 15%;
    /* border: solid 1px black; */
    width: 100%;
}
.footer-logo{
    width: 100px;
    margin-bottom: 5%;
}
.footer-left p{
    font-size: 0.9em;
    width: 70%;
}

.footer-right a{
    text-decoration: none;
    color: black;
    font-size: 0.9em;
}
.footer-right h5{
    font-size: 1.2em;
    font-weight: bold;
}
.rights{
    background-color: #0D0738;
    height: 10vh;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; 
    padding-top: 1%;
}
